<div class="container">
    <p>&nbsp;</p>
    <h1>Araçlar</h1>
    
    <mat-form-field appearance="outline">
        <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filtrele($event)">
    </mat-form-field>
    
    <button mat-fab matTooltip="Araç Ekle" (click)="Ekle()">
        <mat-icon aria-label="label">add</mat-icon>
    </button>


<mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="aracNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Fiyatı (₺)
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.aracNo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aracFoto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit">
           
            <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.aracFoto" style="width: 200px;"
             matTooltip="Fotoğraf Güncellemek İçin Tıkla " (click)="FotoGuncelle(kayit)">
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="aracAdi">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Adı
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.aracAdi}} </mat-cell>
    </ng-container>   



     <ng-container matColumnDef="aracId" hidden>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Id
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.aracId}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="islemler">
        <mat-header-cell *matHeaderCellDef mat-sort-header> İşlemler
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> 
       
            <button mat-icon-button>
            <mat-icon aria-label="label" color="primary"  matTooltip="Araç Ekle">article</mat-icon>
        </button>
          <button mat-icon-button>
            <mat-icon aria-label="label" matTooltip="Araç Düzenle" (click)="Duzenle(kayit)">edit</mat-icon>
        </button>
          <button mat-icon-button>
            <mat-icon aria-label="label" matTooltip="Araç Sil" (click)="Sil(kayit)">delete</mat-icon>
            
        </button>
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons> 
</mat-paginator>
</div>